extends ../layouts/application.pug

block header
  = t('views.labels.edit')

block content
  +formFor()(action=`/labels/${label.id}` method='post')
    input(type='hidden' name='_method' value='patch')
    .mb-3
      label.form-label(for="data_name")= t('views.labels.name')
      input.form-control(id="data_name" name="data[name]" type="text" value=_.get(label, 'name', ''))
      if errors && errors.name
        .invalid-feedback(style="display: block;")= errors.name.map(({ message }) => message).join('. ')
    
    if label.tasks && label.tasks.length > 0
      .alert.alert-info
        = t('views.labels.tasksLinked', { count: label.tasks.length })
    
    input.btn.btn-primary(type='submit' value=t('views.labels.editSubmit'))

