extends ../layouts/application.pug

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    h1= t('views.tasks.title')
    if isAuthenticated()
      a.btn.btn-primary(href=route('newTask'))= t('views.tasks.new')
  
  // Filter form
  form.mb-4(action=route('tasks') method='get')
    .row.g-3
      .col-md-3
        label.form-label(for='data_status')= t('views.tasks.status')
        select.form-select(id='data_status' name='status')
          option(value='')= t('views.tasks.allStatuses')
          each status in statuses
            option(value=status.id selected=(filters.status == status.id))= status.name
      
      .col-md-3
        label.form-label(for='data_executor')= t('views.tasks.executor')
        select.form-select(id='data_executor' name='executor')
          option(value='')= t('views.tasks.allExecutors')
          each user in users
            option(value=user.id selected=(filters.executor == user.id))= user.firstName + ' ' + user.lastName
      
      .col-md-3
        label.form-label(for='data_label')= t('views.tasks.labels')
        select.form-select(id='data_label' name='label')
          option(value='')= t('views.tasks.allLabels')
          each label in labels
            option(value=label.id selected=(filters.label == label.id))= label.name
      
      .col-md-3
        if isAuthenticated()
          .form-check.mt-4
            input.form-check-input(type='checkbox' name='createdByMe' value='1' id='createdByMe' checked=(filters.createdByMe))
            label.form-check-label(for='createdByMe')= t('views.tasks.createdByMe')
      
      .col-md-12
        button.btn.btn-primary.me-2(type='submit')= t('views.tasks.filter')
        a.btn.btn-secondary(href=route('tasks'))= t('views.tasks.reset')
  
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.labels')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status.name
          td= task.creator.firstName + ' ' + task.creator.lastName
          td= task.executor ? (task.executor.firstName + ' ' + task.executor.lastName) : '-'
          td
            if task.labels && task.labels.length > 0
              each label in task.labels
                span.badge.bg-secondary.me-1= label.name
            else
              | -
          td= formatDate(task.createdAt)
          td
            if isAuthenticated() && task.creatorId === currentUser.id
                  a.btn.btn-sm.btn-outline-primary.me-2(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit')
                  +buttonTo(`/tasks/${task.id}`, 'delete')(class='btn btn-sm btn-outline-danger' value=t('views.tasks.delete'))
