extends ../layouts/application.pug

block header
  = t('views.taskStatuses.new')

block content
  +formFor()(action=route('statuses') method='post')
    .mb-3
      label.form-label(for="data_name")= t('views.taskStatuses.name')
      input.form-control(id="data_name" name="data[name]" type="text" value=_.get(taskStatus, 'name', ''))
      if errors && errors.name
        .invalid-feedback(style="display: block;")= errors.name.map(({ message }) => message).join('. ')
    input.btn.btn-primary(type='submit' value=t('views.taskStatuses.submit'))
